.bi {
    font-size: 45px ;
    color: white;
}

span {
    position: relative;
    display: block;
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 25px;
    margin-left: 5px;
}

div{
    display: flex;
}